.blocksContainer {
    height: 350px;  /* TODO adjust automatically (function of page size) */
    width: 1900px; /* TODO adjust automatically (in terms of page size) */
    border:0px solid #000;
    overflow-y: hidden;
    overflow-x: scroll;
}

.blocks {
    display: block;
    width: 158%; /* TODO adjust automatically (in terms of number and width of blocks) */
    height: 100%;
}
